nav {
    background-color: orange;
}

h1 {
background-color: red;
}

p {
    background-color: yellow;
}

img {
    height: 150px;
    width: 150px;
    /* display: none; */
    /* visibility: hidden; */
}

nav img {
    height: 50px;
    width: 50px;
}

#about {
    position: absolute;
    bottom: 25px;
    right: 50px;
    background-color: black;
}

#some-text {
    color: skyblue;
    background-color: brown;
    display: inline;
    position: sticky;
    top: 100px;
}



#container {
    position: relative;
    height: 500px;
    border: 10px, line, black;
}
