a {
    /* font-size: 1.5em; */
}

nav {
    background-color: orange;
    font-size: 20pt;
    position: relative;
    left: 50px;
}

h1 {
background-color: red;
font-size: 5vw;
display: inline;
/* display: none; */
position: sticky;
top: 20px;
}

p {
    background-color: yellow;
}

nav img {
    height: 50px;
    width: 50px;
}

head img {
    height: 100px;
    width: 100px;
}

.extra-large {
    height: 500px;
    width: 600px;
    /* display: none; */
    /* visibility: hidden; */
}

#about {
    position: absolute;
    top: 50px;
    right: 50px;
    background-color: black;
}

#some-text {
    color: skyblue;
    background-color: brown;
    display: inline;
    position: sticky;
    top: 100px;
}

/* #container {
    position: relative;
    height: 500px;
    border: 10px, line, black;
} */
